<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="http://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="http://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="http://cdn.bootcss.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
     
     {{!-- 引入Bootstrap后,使用Bootstrap的警告消息组件显示我们的即显信息 --}}
     {{#if flash}}
     <div class="alert alert-dismissible alert-{{flash.type}}">
       <button type="button" class="close" data-dismiss="alert" 
        aria-hidden="true">&times;</button>
        <strong>{{flash.intro}}</strong> {{{flash.message}}}
     </div>
     {{/if}}
    
    {{{_section.head}}}
    <script src="//code.jquery.com/jquery-2.0.2.min.js"></script>
    {{#if showTests}}
      <link rel="stylesheet" href="/vendor/mocha.css">
    {{/if}}
  </head>
  
  <body>
    <header><img src="/img/logo.png" alt="Meadowlark Travel Logo"></header>
      {{{body}}}
      <script src="http://code.jquery.com/jquery-2.0.2.min.js"></script>
      <script src="/node_modules/jquery/dist/jquery.min.js"></script>
      {{{_section.jquery}}}

    {{#if showTests}}
      <div id="mocha"></div>
      <script src="/vendor/mocha.js"></script>
      <script src="/vendor/chai.js"></script>
      <script>
        mocha.ui('tdd');
        var assert = chai.assert;
      </script>
      {{#if pageTestScript}}
      <script src="{{pageTestScript}}"></script>
      {{/if}}
      <script>mocha.run();</script>
    {{/if}}
    
  </body>
</html>